<a href="#home" class="backtop"><i class="fas fa-angle-up"></i></a>
<!-- . class,# id, > component, * quantity -->
<nav class="custom-nav">
  <div class="max-width">
    <div class="logo">
      <a href="#" class="d-flex align-items-center"><img src="./././assets/images/LOGO BOOKIE.svg" alt="logo"
          height="50" width="50">Bookie</a>
    </div>
    <ul class="menu">
      <li *ngFor="let nav of navItems">
        <a href="{{nav.id}}" class="nav_link">{{nav.label}}</a>
      </li>
    </ul>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>

<!-- section home -->
<section class="section home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="column left">
        <div class="text-1">Chào mừng đọc giả đến với </div>
        <div class="text-2">Book<span>ie</span></div>
        <div class="text-3"><span class="typing"></span></div>
        <a href="#">Đăng ký ngay</a>
      </div>
      <div class="column right">
      </div>
    </div>
  </div>
</section>

<!-- section about -->
<section class="section about" id="about">
  <div class="max-width">
    <h2 class="title">Về chúng tôi</h2>
    <div class="about-content">
      <div class="column left">
        <img src="./././assets/images/LOGO BOOKIE.svg" alt="avt" />
      </div>
      <div class="column right">
        <div class="text">Chúng tôi là <span class="text-crimson">Bookie</span></div>
        <div>Dịch vụ cho thuê sách mang đến giải pháp hoàn hảo</div>
        <!-- <div class="d-flex justify-content-between align-items-center">
          <b>Bio</b>
          <p></p>
        </div> -->
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b>Email</b>
          <a href="#" class="text-crimson">bookie@gmail.com</a>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b>Số điện thoại</b>
          <span class="text-crimson">0377468823</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b>Facebook</b>
          <a href="#" class="text-crimson">Bookie</a>
        </div>
        <!-- <hr> -->
        <!-- <div class="d-flex justify-content-between align-items-center">
          <b>Linkedin</b>
          <a href="https://www.instagram.com/justbiny/?hl=vi" class="text-crimson">justbiny</a>
        </div> -->
        <!-- <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b><i class="fa-solid fa-school mr-2"></i>Educations</b>
        </div> -->
        <!-- <div>
          <strong><span class="text-crimson">Information Technology (Software Engineering)</span> </strong> | Danang University of Technology, Viet Nam
          <p class="mb-0">2017 - 2022</p>
          <em class="text-muted">GPA: 3.2/4.0</em>
        </div>
        <br>
        <div>
          <strong><span class="text-crimson">Certificate of High School Graduation</span> </strong> | Quang Trung highschool, Viet Nam
          <p class="mb-0">2014 - 2017</p>
          <em class="text-muted">GPA: 8.0/10</em>
        </div>
        <hr> -->
        <!-- <div class="d-flex justify-content-between align-items-center">
          <b><i class="fa-solid fa-location-dot mr-2"></i>Địa chỉ</b>
        </div>
        <div>
          <em class="text-muted">41 Lê Độ, Đà Nẵng, Việt Nam</em>
        </div> -->
        <a href="#" class="btn">Đăng ký ngay</a>
      </div>
    </div>
  </div>
</section>

<!-- section ability  -->
<section class="section ability" id="ability">
  <div class="max-width">
    <h2 class="title">Dịch vụ / Giải pháp</h2>
    <div class="ability-content">
      <div class="card">
        <div class="box">
          <i class="fa-solid fa-thumbs-up"></i>
          <div class="text">Đọc sách chất lượng</div>
          <p>
            Bookie lựa chọn và sàn lọc các loại sách chất lượng, thông tin cũng như kiến thức chính xác
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fa-solid fa-piggy-bank"></i>
          <div class="text">Đọc sách không nhìn giá</div>
          <p>
            Chi phí thấp, ít tăng giá
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fa-solid fa-user"></i>
          <div class="text">Trải nghiệm miễn phí</div>
          <p>
            Trải nghiệm miễn phí trong vòng 30 ngày
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section timeline  -->
<!-- <section class="timeline" id="timeline">
  <div class="max-width">
    <h2 class="title">My Timeline</h2>
    <div class="timeline-content">
      <div class="column left">
        <div class="text">My creative skills & expriences.</div>
        
        <a href="#">Read more</a>
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span> HTML </span>
            <span>70%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> CSS </span>
            <span>70%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Javascript </span>
            <span>70%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Angular </span>
            <span>60%</span>
          </div>
          <div class="line angular"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Nodejs </span>
            <span>40%</span>
          </div>
          <div class="line nodejs"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> TypeScript </span>
            <span>30%</span>
          </div>
          <div class="line typescript"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> MongoDB </span>
            <span>30%</span>
          </div>
          <div class="line mongo"></div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- section project  -->
<section class="section project" id="project">
  <div class="max-width">
    <h2 class="title">Gói thành viên</h2>
    <div class="carousel owl-carousel">
      <div class="card">
        <div class="box">
          <img src="./././assets/images/bronze-medal-icon-1540x2048-plq7ryc8.png" alt="project1" />
          <div class="text">Gói 60 ngày</div>
          <p>
            Bắt đầu trải nghiệm Bookie
          </p>
          <h1 style="font-weight: 800;">199k</h1>
          <ul>
            <li>
              <p>•<strong>30 ngày dùng thử</strong></p>
            </li>
            <li>
              <p>•<strong>60 ngày thuê sách</strong></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="./././assets/images/silver-medal-icon-1540x2048-5w4d3h1v.png" alt="project1" />
          <div class="text">Gói 180 ngày</div>
          <p>
            Trở thành khách hàng của Bookie
          </p>
          <h1 style="font-weight: 800;">499k</h1>
          <ul>
            <li>
              <p>•<strong>Không giới hạn thời gian giữ sách (1 cuốn / 1 lần thuê)</strong></p>
            </li>
            <li>
              <p>•<strong>Giảm giá 10% cho gói tiếp theo</strong></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="./././assets/images/gold-medal-icon-770x1024-i88elmlx.png" alt="project2" />
          <div class="text">Gói 365 ngày</div>
          <p>
            Trở thành khách hàng tiềm năng của Bookie
          </p>
          <h1 style="font-weight: 800;">599k</h1>
          <ul>
            <li>
              <p>•<strong>Giảm giá 20% cho gói thuê tiếp theo</strong></p>
            </li>
            <li>
              <p>•<strong>Không giới hạn thời gian giữ sách (5 cuốn / 1 lần thuê)</strong></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section skills  -->
<section class="section skills" id="skills">
  <div class="max-width">
    <h2 class="title">Hướng dẫn thành viên</h2>
    <div class="skill-content">
      <div class="column left">
        <div class="card card-parent">
          <div class="card-header">
            Huớng dẫn thành viên của Bookie
          </div>
          <div class="card-body">
            <div class="card card-child flex-1">
              <div class="card-header">
                #1. Yêu cầu trả sách
              </div>
              <div class="card-body">
                <p class="card-text">Bạn có thể trả sách để thuê cuốn mới hoặc tạm dùng dịch vụ</p>
              </div>
            </div>
            <div class="card card-child flex-1">
              <div class="card-header">
                #2. Thuê sách mới
              </div>
              <div class="card-body">
                <p class="card-text">Bookie sẽ thu hồi sách bạn đang giữ và gửi bạn cuốn tiếp theo</p>
              </div>
            </div>
            <div class="card card-child flex-1">
              <div class="card-header">
                #3. Nạp ngày thuê
              </div>
              <div class="card-body">
                <p class="card-text">Đừng để trải nghiệm thuê sách của bạn bị ngắt quãng, hãy duy trì số dư ngày thuê
                  cho tài khoản của bạn</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column right">
        <div class="card card-parent">
          <div class="card-header">
            Huớng dẫn khách hàng mới
          </div>
          <div class="card-body">
            <div class="card card-child">
              <div class="card-header">
                #1. Thanh toán khoản đặt cọc
              </div>
              <div class="card-body">
                <p class="card-text">Khoản đặt cọc này để hỗ trợ Bookie trong các trường hợp hư hỏng hyay mất sách sẽ
                  được hoàn lại cho bạn sau khoản thời gian trải nghiệm miễn phí</p>
              </div>
            </div>
            <div class="card card-child">
              <div class="card-header">
                #2. Thuê sách lần đầu
              </div>
              <div class="card-body">
                <p class="card-text">Tận hưởng 30 ngày thuê sách của Bookie miễn phí, chọn cuốn sách bạn ưng ý nhất nhé
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- section contact  -->
<section class="section contact" id="contact">
  <div class="max-width">
    <h2 class="title">Liên hệ với chúng tôi</h2>
    <div class="contact-content">
      <div class="column left">
        <div class="left up">
          <div class="text">Thông tin liên lạc</div>
          <p>
            Sẵn sàng giải đáp mọi thắc mắc của bạn và hỗ trợ nhanh nhât có thể
          </p>
        </div>
        <div class="left down">
          <ul class="content">
            <li>
              <i class="fas fa-user-alt"></i>
              <div class="prop">
                <div class="textt">Tên</div>
                <p>Bookie</p>
              </div>
            </li>
            <!-- <li>
              <i class="fas fa-map-marker-alt"></i>
              <div class="prop">
                <div class="textt">Địa chỉ</div>
                <p>41 Lê Độ, Đà Nẵng, Việt Nam</p>
              </div>
            </li> -->
            <li>
              <i class="fas fa-envelope"></i>
              <div class="prop">
                <div class="textt">Email</div>
                <p>bookie@gmail.com</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="column right">
        <div class="text">Nhắn tin cho chúng tôi về</div>
        <div class="email">
          <input type="text" value="" placeholder="example" />
          <input type="text" value="" readonly value="@gmail.com" />
        </div>
        <div class="message">
          <input type="text" value="" placeholder="Subject" />
        </div>
        <textarea cols="30" rows="3">Xin chào Bookie, mình là ...</textarea>
        <a href="#">Gửi tin nhắn</a>
      </div>
    </div>
  </div>
</section>
<!-- footer  -->
<div class="footer">
  <div class="max-width">
    <div class="content">
      <p class="mb-0">
        Created By <span><a href="#">Bookie</a></span> | 2025 All rights
        reserved
      </p>
    </div>
  </div>
</div>