.max-width {
    padding: 0 80px;
    margin: auto;
}

section {
    padding: 100px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

/* before after dung de chen 2 div hoac chi do do 1 cai */
section .title::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

section .title::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

.about,
.ability,
.skills,
.timeline,
.project,
.contact,
.footer {
    font-family: "Poppins", sans-serif;
}

.home .home-content,
.about .about-content,
.ability .ability-content,
.skills .skill-content,
.timeline .timeline-content,
.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* backtop button styling */
.backtop {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 10px;
    right: 30px;
    background: crimson;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    color: white;
    text-decoration: none;
}

.backtop i {
    font-size: 30px;
}

.backtop.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* custom-nav styling */
.custom-nav {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /* background: black; */
    font-family: "Ubuntu", sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
    margin: 0 auto;
}

/* roll là sẽ nhỏ lại thanh nav */
.custom-nav.sticky {
    padding: 15px 0;
    background: crimson;
}

.custom-nav .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-nav .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.custom-nav .logo a span {
    color: crimson;
}

.custom-nav.sticky .logo a span {
    color: #fff;
}

.custom-nav .menu {
    margin-bottom: 0;
}

.custom-nav .menu li {
    list-style: none;
    display: inline-block;
}

.custom-nav .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.custom-nav .menu li a:hover {
    color: crimson;
}

.custom-nav .menu li .active {
    color: crimson;
}

.custom-nav.sticky .menu li a:hover {
    color: black;
}
.custom-nav.sticky .menu li .active {
    color: black;
}


/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home-section styling */
.home {
    background: black;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}

.home .max-width {
    height: 100%;
}

.home .home-content {
    height: 100%;
    align-items: center;
}

.home .home-content .column {
    width: calc(50% - 20px);
}

.home .home-content .text-1 {
    font-size: 27px;
    width: 100%;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 600;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}

/* about section styling */
.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    margin-bottom: 15px;
}

.about .about-content .right .text-crimson {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right .btn {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}

/* before after dung de chen 2 div hoac chi do do 1 cai */
.about .title::after {
    content: "Who am I";
}

/* ability section styling */
.ability {
    background: black;
    color: white;
}

.ability .title::before {
    background: white;
}

.ability .title::after {
    background: black;
    content: "What i have/can";
}

.ability .ability-content .card {
    width: calc(33% - 20px);
    /* calc dung de set width hoac height cho div con -20px la dich sang trai 20px */
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-height: 260px;
}

.ability .ability-content .card:hover {
    background: crimson;
}

.ability .ability-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.ability .ability-content .card:hover i {
    color: white;
    transition: color 0.3s ease;
}

.ability .ability-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.ability .ability-content .card:hover .box {
    transform: scale(1.05);
}

.ability .ability-content .card .box {
    transition: all 0.3s ease;
}

/* skills section styling */
.skills .title::after {
    content: "What i know";
}

.skills .skill-content .column {
    width: calc(50% - 30px);
}

.skills .skill-content .left .text {
    font-size: 25px;
    font-weight: 600;
}

.skills .skill-content .left p {
    text-align: justify;
}

.skills .skill-content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skill-content .left a:hover {
    color: crimson;
    background: none;
}

.skills .skill-content .right .bars {
    margin-bottom: 15px;
}

.skills .skill-content .right .bars .info {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.skills .skill-content .right .bars .info span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skill-content .right .bars .line {
    height: 5px;
    width: 100%;
    border-radius: 2.5px;
    background: lightgray;
    position: relative;
}

.skills .skill-content .right .bars .line::before {
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 2.5px;
    left: 0;
    top: 0;
    background: crimson;
}

.skills .skill-content .right .bars .html::before {
    width: 80%;
}

.skills .skill-content .right .bars .css::before {
    width: 80%;
}

.skills .skill-content .right .bars .js::before {
    width: 70%;
}

.skills .skill-content .right .bars .angular::before {
    width: 60%;
}

.skills .skill-content .right .bars .nodejs::before {
    width: 40%;
}

.skills .skill-content .right .bars .typescript::before {
    width: 30%;
}

.skills .skill-content .right .bars .mongo::before {
    width: 30%;
}

/* project section styling */
.project .title::before {
    background: white;
}

.project .title::after {
    content: "Projects I've joined";
    background: black;
}

.project {
    background: black;
    color: white;
}

.project .carousel .card {
    min-height: 400px;
    background: #222;
    padding: 25px 35px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.project .carousel .card:hover {
    background: crimson;
}

.project .carousel .card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid crimson;
    object-fit: contain;
}

.project .carousel .card:hover img {
    border-color: white;
}

.project .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    transition: all 0.5s ease;
}

.project .carousel .card:hover .box {
    transform: scale(1.05);
}

.project .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
}

.carousel .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.carousel .owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson !important;
    transition: all 0.3s ease;
}

.carousel .owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.carousel .owl-dot.active,
.owl-dot:hover {
    background: crimson !important;
}


/* contact section styling */
.contact .title::after {
    content: "Get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 20px);
}

.contact .contact-content .left .up .text {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact .contact-content .left .down ul {
    list-style: none;
    margin-top: 30px;
}

.contact .contact-content .left .down li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact .contact-content .left .down i {
    width: 80px;
    font-size: 30px;
    color: crimson;
}

.contact .contact-content .left .down .textt {
    font-size: 20px;
    font-weight: 500;
}

.contact .contact-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin: 30px 0;
}

.contact .contact-content .right .email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .right .email input {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: calc(50% - 15px);
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 0 20px;
}

.contact .contact-content .right .message {
    margin: 20px 0;
}

.contact .contact-content .right .message input {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    height: 50px;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 0 20px;
}

.contact .contact-content .right textarea {
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 20px 20px;
}

.contact .contact-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.contact .contact-content .right a:hover {
    background: none;
    color: crimson;
}

/* footer section styling */
.footer {
    background: black;
}

.footer .content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.footer .content a {
    color: crimson;
    font-size: 20px;
}

/* reponsive media */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
        width: 100%;
    }

    .custom-nav .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }

    .custom-nav .menu.active {
        right: 0;
    }

    .custom-nav .menu li {
        display: block;
    }

    .custom-nav .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .custom-nav.sticky .menu li a:hover {
        color: crimson;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 25px auto;
    }

    .about .about-content .right {
        flex: 1;
    }

    .ability .ability-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skill-content .column {
        width: calc(100%);
        margin-bottom: 40px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .custom-nav.sticky .menu li a:hover {
        color: crimson;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .ability .ability-content .card {
        width: calc(100%);
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}