<a href="#home" class="backtop"><i class="fas fa-angle-up"></i></a>
<!-- . class,# id, > component, * quantity -->
<nav class="custom-nav">
  <div class="max-width">
    <div class="logo">
      <a href="#">Bao<span>ray</span></a>
    </div>
    <ul class="menu">
      <li *ngFor="let nav of navItems">
        <a href="{{nav.id}}">{{nav.label}}</a>
      </li>
    </ul>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>

<!-- section home -->
<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="column left">
        <div class="text-1">Hello, my name is</div>
        <div class="text-2">Thai Bao</div>
        <div class="text-3">And I am a <span class="typing"></span></div>
        <a href="#">Hire me</a>
      </div>
      <div class="column right">
      </div>
    </div>
  </div>
</section>

<!-- section about -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="../../../assets/images/449718840_2791981084303890_5461302904723480193_n.jpg" alt="avt" />
      </div>
      <div class="column right">
        <div class="text">I am Bao, and I'm a <span class="text-crimson">Frontend developer</span></div>
        <div class="d-flex justify-content-between align-items-center">
          <b>Bio</b>
          <p></p>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b>Email</b>
          <a href="#" class="text-crimson">lethaibao.201@gmail.com</a>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b>Instagram</b>
          <a href="https://www.instagram.com/justbiny/?hl=vi" class="text-crimson">justbiny</a>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b>Linkedin</b>
          <a href="https://www.instagram.com/justbiny/?hl=vi" class="text-crimson">justbiny</a>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b><i class="fa-solid fa-school mr-2"></i>Educations</b>
        </div>
        <div>
          <strong><span class="text-crimson">Information Technology (Software Engineering)</span> </strong> | Danang University of Technology, Viet Nam
          <p class="mb-0">2017 - 2022</p>
          <em class="text-muted">GPA: 3.2/4.0</em>
        </div>
        <br>
        <div>
          <strong><span class="text-crimson">Certificate of High School Graduation</span> </strong> | Quang Trung highschool, Viet Nam
          <p class="mb-0">2014 - 2017</p>
          <em class="text-muted">GPA: 8.0/10</em>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <b><i class="fa-solid fa-location-dot mr-2"></i>Location</b>
        </div>
        <div>
          <em class="text-muted">Da Nang, Viet Nam</em>
        </div>
        <a href="#" class="btn">Download CV</a>
      </div>
    </div>
  </div>
</section>

<!-- section ability  -->
<section class="ability" id="ability">
  <div class="max-width">
    <h2 class="title">My ability</h2>
    <div class="ability-content">
      <div class="card">
        <div class="box">
          <i class="fas fa-code"></i>
          <div class="text">Web Developer</div>
          <p>
            I can code the user interface based on designs available on Figma, SRS documents or other designs and handle logic to suit the business.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fa-solid fa-people-group"></i>
          <div class="text">Work in groups</div>
          <p>
            Collaborate with the project to find solutions and solve problems to help make the project more complete
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fa-solid fa-book"></i>
          <div class="text">Knowledge</div>
          <p>
            Have basic knowledge of user interface development, handling logic from easy to difficult, with a desire to learn new skills and new technologies to apply to projects
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section skills  -->
<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My skills</h2>
    <div class="skill-content">
      <div class="column left">
        <div class="text">My creative skills & expriences.</div>
        <p>
          The following are the languages ​​and skills I have acquired so far
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span> HTML </span>
            <span>70%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> CSS </span>
            <span>70%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Javascript </span>
            <span>70%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Angular </span>
            <span>60%</span>
          </div>
          <div class="line angular"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Nodejs </span>
            <span>40%</span>
          </div>
          <div class="line nodejs"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> TypeScript </span>
            <span>30%</span>
          </div>
          <div class="line typescript"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> MongoDB </span>
            <span>30%</span>
          </div>
          <div class="line mongo"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section timeline  -->
<!-- <section class="timeline" id="timeline">
  <div class="max-width">
    <h2 class="title">My Timeline</h2>
    <div class="timeline-content">
      <div class="column left">
        <div class="text">My creative skills & expriences.</div>
        
        <a href="#">Read more</a>
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span> HTML </span>
            <span>70%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> CSS </span>
            <span>70%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Javascript </span>
            <span>70%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Angular </span>
            <span>60%</span>
          </div>
          <div class="line angular"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> Nodejs </span>
            <span>40%</span>
          </div>
          <div class="line nodejs"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> TypeScript </span>
            <span>30%</span>
          </div>
          <div class="line typescript"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span> MongoDB </span>
            <span>30%</span>
          </div>
          <div class="line mongo"></div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- section project  -->
<section class="project" id="project">
  <div class="max-width">
    <h2 class="title">My projects</h2>
    <div class="carousel owl-carousel">
      <div class="card">
        <div class="box">
          <img src="../../../assets/images/VNPT_eContract.png" alt="project1" />
          <div class="text">VNPT eContract (Front-end)</div>
          <p>
            Maintain, fix bugs and add new features.
          </p>
          <p>Tech: <strong>Angular(v9), Bootstrap, Firebase</strong></p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="../../../assets/images/VNPT_eContract.png" alt="project1" />
          <div class="text">VNPT eContract (Back-end)</div>
          <p>
            Support, maintain and fix email service bugs.
          </p>
          <p>Tech: <strong>Loopback 4, Nodejs, Firebase</strong></p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="../../../assets/images/vnpt-logo.png" alt="project2" height="140" width="140"/>
          <div class="text">VNPT OneBSS (full-stack)</div>
          <p>
            Maintain and fix bugs.
          </p>
          <p>Tech: <strong>VueJs(v2.6.12), Bootstrap, OracleDB, Java Spring Boot</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- section contact  -->
<section class="contact" id="contact">
  <div class="max-width">
    <h2 class="title">Contact me</h2>
    <div class="contact-content">
      <div class="column left">
        <div class="left up">
          <div class="text">Get in touch</div>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Tempore fugit reiciendis natus eaque distinctio! Dolor corporis
            magnam, est cumque magni, nemo dolore nesciunt vitae optio unde
            culpa molestias, at autem.
          </p>
        </div>
        <div class="left down">
          <ul class="content">
            <li>
              <i class="fas fa-user-alt"></i>
              <div class="prop">
                <div class="textt">Name</div>
                <p>Thai Bao</p>
              </div>
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <div class="prop">
                <div class="textt">Place</div>
                <p>24 Hoa Son 3 st, Hai Chau district, Da Nang</p>
              </div>
            </li>
            <li>
              <i class="fas fa-envelope"></i>
              <div class="prop">
                <div class="textt">Email</div>
                <p>lethaibao.201@gmail.com</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="column right">
        <div class="text">Message me</div>
        <div class="email">
          <input type="text" readonly value="lethaibao.201" />
          <input type="text" readonly value="@gmail.com" />
        </div>
        <div class="message">
          <input type="text" readonly value="Message" />
        </div>
        <textarea cols="30" rows="3" readonly>Hello!</textarea>
        <a href="#">Send message</a>
      </div>
    </div>
  </div>
</section>
<!-- footer  -->
<div class="footer">
  <div class="max-width">
    <div class="content">
      <p class="mb-0">
        Created By <span><a href="#">BaoRay</a></span> | 2020 All rights
        reserved
      </p>
    </div>
  </div>
</div>